affine==2.3.0
attrs==19.3.0
Cartopy==0.18.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
contextily==1.0.0
cycler==0.10.0
Cython==0.29.17
Deprecated==1.2.10
descartes==1.1.0
Fiona==1.8.13.post1
geographiclib==1.50
geopandas==0.7.0
geoplot==0.4.0
geopy==1.22.0
idna==2.9
joblib==0.15.1
kiwisolver==1.2.0
mapclassify==2.2.0
matplotlib==3.2.1
mercantile==1.1.4
munch==2.5.0
numpy==1.22.0
pandas==1.0.3
Pillow==7.1.2
pyparsing==2.4.7
pyproj==2.6.1.post1
pyshp==2.1.0
python-dateutil==2.8.1
pytz==2020.1
rasterio==1.1.4
requests==2.23.0
scikit-learn==0.23.0
scipy==1.4.1
seaborn==0.10.1
Shapely==1.7.0
six==1.14.0
snuggs==1.4.7
threadpoolctl==2.0.0
urllib3==1.25.9
wrapt==1.12.1
